html {
  box-sizing: border-box;
}

html > body {
  min-height: 100vh;
  margin: 0;
}

html > body.Theme--legacy:not(.Theme--full-page) {
  .LandingPage {
    min-height: auto;
  }

  .Newsfeed {
    margin-top: 0;
    padding-top: 0;
  }

  .NewsfeedButton {
    display: none;
  }
}

body.Theme--legacy.Theme--compact,
body.Theme--modern.Theme--compact {
  .DoodleBanner {
    margin-top: 34px;
  }

  .Tiles_v1 {
    gap: 15px;
    margin-bottom: 0;
  }

  .NewsfeedCategories {
    margin-bottom: 0;
  }
}

body.Theme--modern.Theme--compact {
  .LandingPage {
    min-height: auto;
  }

  .Newsfeed {
    margin-top: 0;
    padding-top: 0;
  }

  .NewsfeedButton {
    display: none;
  }
}

html > body.Theme--modern.Theme--light:not(.Theme--background_v2) {
  background: radial-gradient(59.25vw 33.25vh at 58.21vw 126.59vh, rgba(143, 104, 161, 0.20) 0%, rgba(122, 119, 189, 0.00) 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%),
  radial-gradient(83.18vw 44.19vh at 30.71vw 11.71vh, rgba(252, 207, 46, 0.25) 0%, rgba(252, 207, 46, 0.00) 100%),
  radial-gradient(228.29vw 118.08vh at 93vw 56.29vh, rgba(76, 141, 235, 0.35) 0%, rgba(76, 141, 235, 0.00) 100%),
  radial-gradient(123.93vw 62.45vh at 20.75vw 110.69vh, rgba(215, 18, 27, 0.30) 0%, rgba(215, 18, 27, 0.00) 100%),
  linear-gradient(180deg, #FFF 11.76%, #EAF2F9 209.7%);
}

html > body.Theme--background_v2 {
  background-size: cover;
  background-attachment: fixed;
  background-color: transparent;
}

html > body.Theme--background_v2.Theme--dark {
  background-image: url('images/bg-dark.png');
}

html > body.Theme--background_v2.Theme--light {
  background-image: url('images/bg-light.png');
}

html > body.Theme--dark {
  color: #fff;
  background-color: #19191C;
}

html > body.Theme--legacy.Theme--light {
  background: #FFF;
}

html > body.Theme--legacy.Theme--dark {
  background: #202020;
}

@media (prefers-color-scheme: dark) {
  html > body {
    background: #202020;
  }
}

@media (prefers-color-scheme: light) {
  html > body {
    background: #FFF;
  }
}